<!DOCTYPE html>
<html data-bs-theme="light">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Wiki Coaster{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <main class="d-flex flex-nowrap">
            <div class="d-flex flex-column flex-shrink-0 shadow" id="side-menu">
                <div class="lead">Wiki Coaster</div>
                {# Main menu #}
                <!-- Comment HTML -->
                <nav class="nav flex-column">
                    <a class="nav-link" href="{{ path('app_coaster_index') }}"><i class="bi bi-minecart"></i> Coasters</a>
                    <a class="nav-link" href="{{ path('app_park_index') }}"><i class="bi bi-geo"></i> Parcs</a>
                    <a class="nav-link" href="{{ path('app_category_index') }}"><i class="bi bi-tags"></i> Catégories</a>
                    <a class="nav-link" href="{{ path('app_user_index') }}"><i class="bi bi-people-fill"></i> Utilisateurs</a>
                </nav>
            </div>
            <div class="p-4 flex-grow-1">
                <div id="main-content">
                    {% block body %}{% endblock %}
                </div>   
            </div>
        </main>    
    </body>    
</html>
